{% extends 'base.html' %}

{% block title %}
    {{ article.title }}
{% endblock %}

{% block content %}
    <h1>{{ article.title }}</h1>
    <div>{{ article.text }}</div>
    <br><br><br><br><br>
    <h6>Просмотры: {{ article.views }}</h6>
    <h6>Создано: {{ article.created_at }}</h6>
    <h6>Изменено: {{ article.updated_at }}</h6>
    <p>
        Автор:
        <ul>
            <li>Псевдоним - {{ article.author.nickname }}</li>
            <li>Логин - {{ article.author.user.username }}</li>
        </ul>
    </p>
    <a href="{% url 'article-edit' article.id %}">Редактировать</a>
    <br>
    <a href="{% url 'article-delete' article.id %}">Удалить</a>
    <br>
    <a href="{% url 'article-hide' article.id %}">Скрыть</a>
{% endblock %}